#line-wrapper {
    width: 450px;
    height: 295px;
}

#line-chart {
    position: absolute;
    z-index: 9999;
}

#line-chart-background {
    position: absolute;
}

#bar-chart {
    position: absolute;
}

.plant.label {
    font-size: 12.5px;
  }

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bar {
    fill: rgba(0,0,0,0.2);
}

.background-line {
    fill: none;
    stroke: #ffc83e;
    stroke-width: 0.8px;
    opacity: 0.32;
}
  
.label {
pointer-events: none;
}

.axis.label {
fill: #8f8f8f;
font-size: 11.5px;
}

.axis line{
stroke: #afafaf;
}

.axis path{
stroke: #afafaf;
}

.axis text{
fill: #e9e9e9;
}    

.overlay {
fill: none;
pointer-events: all;
}

.hover-line {
stroke: #c5c5c5;
stroke-width: 1px;
/* stroke-dasharray: 4,4; */
opacity: 0.3;
}

div.tooltip {
    position: absolute;
    max-width: 150px;
    padding: 7px;
    font-size: 12.5px;
    background: #383838;
    color: #f3f3f3;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    z-index: 999999;
}

div.tooltip p {
margin-top: 3px;
margin-bottom: 0px;
}

div.tooltip h3 {
margin-top: 0px;
margin-bottom: 5px;
}